/* css 주석 */

/* css 파일 내부 == <style> 태그 내부 */

/* 모든 선택자 (*) */
* {
    /* color -> 글자 색상 지정 css 속성 */
    color : blue;
}

/* 태그 선택자 (tag name) */

p {
    color: indianred;
}

pre {
    color: cornflowerblue;
}

/* 여러 선택자를 동시 작성하는 방법 */
p {
    /* text-decoration -> 글자에 선을 넣어서 꾸미는 속성 */
    text-decoration: underline;
}

/* ID 선택자(#) */
#id-title {
    color: red;
    /* font-style -> 글꼴 스타일 변경 속성 */
    font-style: italic;
}

#test1{
    text-decoration: none; /* 밑줄 없음 */
    font-weight: bold; /* 글꼴 굵기 조정 속성(100~900) */
    color: lawngreen;
    border: 3px solid black; /* 테두리 지정 속성 */
    background-color: salmon;
}

/* 클래스 선택자 (.) */
.class1{
    background-color: black;
    color: yellow;
}
.class2{
    background-color: yellow;
    color: black;
}

