/* 텍스트 색상 지정 */
#c-name {
    color: red;
}

#c-16 {
    color: #ff0000
}

#c-rgb {
    color: rgb(255, 0, 0)
}

#c-rgba {
    color: rgba(255, 0, 0, 0.5); /* 투명도 : (투명)0 ~ 1(불투명) */
}

/*
hsl(색조(0~360), 채도(0~100%), 명도(0~100%)) 색조는 0 = red, 120=green, 240=blue
*/
#c-hsl {
    color: hsl(340, 100%, 50%);
}

#c-hsla {
    color: hsla(350, 100%, 50%, 0.5)
}


/* 텍스트 줄 표시하기/없애기 지정 */
#td1 {
    text-decoration: none;
}

#td2 {
    text-decoration: underline;
}

#td3 {
    text-decoration: line-through;
}

#td4 {
    text-decoration: overline;
}


/* 텍스트 대소문자 변경 지정 */
#tt1 {
    text-transform: none;
}

#tt2 {
    text-transform: capitalize;
}

#tt3 {
    text-transform: uppercase;
}

#tt4 {
    text-transform: lowercase;
}


/* 공통 속성을 사이즈와 두께를 지정 */
.shadow {
    font-size: 80px;
    line-height: 130px;
    font-weight: 900;
}

/* 그림자 효과 */
#ts1 {
    color: orangered;
    text-shadow: 5px 5px orange;
}

#ts2 {
    color: white;
    text-shadow: 0px 1px 20px #ccc;
}

#ts3 {
    color: white;
    text-shadow: 1px 1px 20px #6f0;
}

#ts4 {
    color: black;
    text-shadow: 0px 0px 4px #ccc, 0px -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -19px 18px #f20;
}

/* 공백은 무조건 1칸(default)
   엔터 X (default)
*/
#space1{
    white-space: normal;
    /* 장평 */
    line-height: 30px;
    /* 자간 */
    letter-spacing: 1px;
}

#space2 {
    white-space: normal;

    /* 단어 사이 공간 */
    word-spacing: 10px;
}

#space3 {
    /*
      공백 유지,
      엔터치면 다음 줄,
      내용이 길면 화면 밖으로 출력(가로 스크롤 생김)
    */
    white-space: pre;
}

#space4 {
    /* 엔터 치면 다음줄
      내용이 길면 자동 줄 바꿈
      띄어쓰기(공백) 유지 X
    */
    white-space: pre-line;
}

#space5{
    /* 엔터 치면 줄바꿈, 내용이 길면 자동 줄바꿈, 띄어쓰기 유지 O */
    white-space: pre-wrap; /* pre 태그와 똑같음 */
}